.big-banner{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
};

img{
   width: 100%;
   height: 2in;
};

#gifArea {
	clear: both;
	display: inline;
	/* flex-wrap: wrap; */
}
.newReaction{
    position: relative;
    width: 25%;
    display: inline-block;
    margin: 2%;
    color: white;
}
.imgReaction{
    width: 100%;
    height: 2in;
}


